body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  /* src/styles.css */


  button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  
  #addServiceForm {
    margin-top: 20px;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  ul {/* Importiere die Tailwind-Direktiven */
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    
    /* Deine eigenen Stile folgen nach den Tailwind-Direktiven */
    body {
        font-family: Arial, sans-serif;
        padding: 20px;
    }
    
    button {
        padding: 10px;
        margin: 10px;
        cursor: pointer;
    }
    
    #addServiceForm {
        margin-top: 20px;
    }
    
    input {
        padding: 10px;
        margin-right: 10px;
        font-size: 14px;
    }
    
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    
    li {
        background-color: #f4f4f4;
        margin: 5px 0;
        padding: 10px;
        border-radius: 5px;
    }
    
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  